.container {

    border: 3px solid blue;
    padding: 20px;
    width: 500px;
    flex-direction: column;
    height: 600px;

}

 .container div {

    border: 5px solid red;
    margin-left: 20px;
    height: 100px;
    width: 50px;
    flex-grow: 1;
    padding: 20px;
    margin: 20px;   
    flex: 3 1 auto;

}